.row {
    display: flex;
    margin-top: 18px;
    margin-bottom: 30px;
}

.column {
    flex: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    /* border: 1px solid #ddd; */
    /* border-style: solid; */
    /* background-color: #f2f2f2; */
}

th {
    text-align: center;
    padding: 16px;
    /* border: 1px solid #ddd; */
    /* border-style: solid; */
    /* border-bottom: 1px solid black; */
}

tr, td {
    /* text-align: center; */
    padding: 16px;
    margin: 10px;
    /* border: 1px solid #ddd; */
    /* border-style: solid; */
}

/* td {
    text-align: center;
    padding: 16px;
    margin: 10px;
    border: 1px solid #ddd;
    border-style: solid;
} */

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

table a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: midnightblue;
    text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }


